@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --primary-clr: #4caf50;
    --secondary-clr: #81c784;
    --background-clr: #f5f5f5;
    --text-clr: #212121;
    --card-background-clr: #ffffff;
    --nav-clr: #e0e0e0;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
    min-height: 100dvh;
    background-color: var(--background-clr);
    color: var(--text-clr);
    display: grid; /* makes sidebar and main content side by side */
    grid-template-columns: auto 1fr; /* sidebar takes up auto width, main content takes up remaining space */
}

#sidebar {
    height: 100vh;
    width: 250px;
    padding: 5px 1em;
    border-right: 1px solid var(--text-clr);
    background-color: var(--nav-clr);

    position: sticky; /* keeps sidebar in place when scrolling */
    top: 0; 
    align-self: start; /* makes sidebar start at top left */
    transition: 300ms ease-in-out;
    overflow: hidden; /* hides overflowing text when sidebar is closed */
    text-wrap: nowrap; /* makes sure text doesn't wrap on close */
}

#sidebar.close {
    padding: 5px;
    width: 60px;   
}

#sidebar ul {
    list-style: none;
}

#sidebar ul li:first-child {
    display: flex; /* makes app name and icon align properly */
    justify-content: flex-end; /* pushes app name to the right */
    margin-bottom: 16px;
    #app-name {
        font-weight: 600;
    }
}

/* changes color of active link in sidebar */
#sidebar ul li.active a {
    color: var(--secondary-clr);
    
    svg {
        fill: var(--secondary-clr);
    }
}

#sidebar a, #sidebar #app-name {
    padding: .85em; 
    text-decoration: none;
    color: var(--text-clr);
    display: flex;
    align-items: center; /* vertically centers icon and text */
    gap: 1em; /* space between icon and text */
}

#sidebar svg {
    flex-shrink: 0; /* prevents icon from shrinking */
}

#sidebar a:hover {
    background-color: var(--primary-clr);
    color: white;
    border-radius: .5em;

    svg {
        fill: white;
    }
}

#toggle-btn {
    margin-left: auto;
    padding: 1em;
    border: none;
    background: none;
    cursor: pointer;
    border-radius: .5em;

    svg {
        transition: rotate 150ms ease; /* adds rotation transition to icon */
    }
}

#toggle-btn:hover {
    background-color: var(--primary-clr);

    svg {
        fill: white;
    }
}

main {
    text-align: center;
}

.page-title {
    font-size: 2.5rem;
}

#streak-container {
    width: 200px;
    margin: 0 auto;
    background-color: var(--card-background-clr);
    padding: 10px 20px;
}

.widgets-container {
    width: 100vw;
    margin: 20px auto;
    display: flex;
    justify-content: space-around;
}

.widget {
    width: 300px;
    margin: 0 20px;
    background-color: var(--card-background-clr);
}


.card-shadow-radius {
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#last-workout {
    padding: 20px;
}

#add-workout-btn, #save-workout-btn {
    background-color: var(--primary-clr);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

#add-workout-btn:hover, #save-workout-btn:hover {
    background-color: var(--secondary-clr);
    transform: scale(1.05);
}

input, textarea, button {
    width: 100%;
    padding: 8px;
    border: 1px solid var(--text-clr);
    border-radius: .5em;
    font-family: 'Poppins', sans-serif;
}

input:focus, textarea:focus {
    outline: none;
    border-color: var(--primary-clr);
    box-shadow: 0 0 5px var(--primary-clr);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

textarea {
    resize: none;
}

#workout-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    background-color: var(--card-background-clr);
    width: 400px;
}

#workout-form label {
    text-align: left;
    font-weight: 600;
}

#workout-summary {
    background-color: var(--card-background-clr);
    padding: 20px;
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#save-workout-btn {
    margin-top: auto;
}

#history-table {
    width: 100%;
    border-collapse: collapse;
    background-color: var(--card-background-clr);
}

#history-table th, #history-table td {
    border: 1px solid var(--text-clr);
    padding: 8px;
}

#history-table th {
    background-color: var(--secondary-clr);
}

.table-btn {
    background-color: var(--primary-clr);
    color: var(--text-clr);
    border: none;
    padding: 15px 10px;
    cursor: pointer;
    border-radius: .5em;
    width: 100px;
    display: inline-block;
    margin: 0 10px;
}

.table-btn:hover {
    background-color: var(--secondary-clr);
    transform: scale(1.05);
}

#delete-btn {
    background-color: #e53935;
}

.filters {
    display: flex;
    justify-content: center;
    margin: 20px 0 0;
}

.filters select {
    margin: 0 10px;
    padding: 8px;
    border: 1px solid var(--text-clr);
    border-radius: .5em;
    font-family: 'Poppins', sans-serif;
}

#search-bar {
    width: 300px;
    padding: 8px;
    border: 1px solid var(--text-clr);
    border-radius: .5em;
    font-family: 'Poppins', sans-serif;
    margin-left: 20px;
}