@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --primary-clr: #4caf50;
    --secondary-clr: #81c784;
    --background-clr: #f5f5f5;
    --text-clr: #212121;
    --card-background-clr: #ffffff;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
    min-height: 100dvh;
    background-color: var(--background-clr);
    color: var(--text-clr);
}

main {
    text-align: center;
}

.page-title {
    font-size: 2.5rem;
}

#streak-container {
    width: 200px;
    margin: 0 auto;
    background-color: var(--card-background-clr);
    padding: 10px 20px;
}

#widgets-container {
    width: 100vw;
    margin: 20px auto;
    display: flex;
    justify-content: space-around;
}

.widget {
    width: 300px;
    margin: 0 20px;
    background-color: var(--card-background-clr);
}


.card-shadow-radius {
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
